div.block-container.css-1y4p8pa.egzxvld4 div.css-1v0mbdj.etr89bj1 span.css-10trblm.e16nr0p30 {
    align-items: center;
}
span.css-10trblm{
    position: relative;
    flex: 1 1 0%;
    margin-left: calc(3rem);
    justify-content: center;
    display: flex;
}
div.css-1offfwp{
    display: flex;
    justify-content: center;
}
button.css-1x8cf1d{
    border-radius: 2in;
    width: 100%;
    background-color: red;
    box-shadow: 4in;
    border-color: black;
}